<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Quiz form</title>
    <style>
         *{
        padding:0%;
        margin:0%;
        box-sizing: border-box;
      }
        body{
            background-color: rgb(242, 245, 248);
        }
        .container{
      background-color: white;
      padding: 2%;
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-right-radius: 50px;
        }
        input[type="radio"] {
  margin-right: 10px;
  size:3ch;
}
        
    </style>
  </head>
  <body>
    <h1 class="text-center">Quiz</h1>
    <p class="text-center">Answer below questions wisely</p>
    <p class="text-center">Read all quetions properly and try to Answer Truly</p>
    <form action="">
        <section class="form my-4 mx-5">
        <div class="container">
        <label for="Question:1">1. Isee the problem someone facts from his point of view.</label>
        <br>
        <br>
        <input type="radio"  name="1option" value="never applies to you">never applies to you
        <br>
        <br>
        <input type="radio" name="1option" value="sometime applies to you">sometime applies to you
        <br>
        <br>
        <input type="radio" name="1option" value="always applies to you">always applies to you
        <br>
        <br>
        <input type="radio" name="1option" value="cant able to decide">cant able to decide

        </div>
        </section>
        <section class="form my-4 mx-5">
    <div class="container">
        <label for="Question:2">2. Imagine you are a salesman, you have to sell the product by calling, even after calling 10 people you are not able to crack a single successful deal, you are getting discouraged what you do?</label>
        <br>
        <br>
        <input type="radio" name="2option" value="never applies to you">try something new
        <br>
        <br>
        <input type="radio" name="2option" value="sometime applies to you">hope for better luck tomorrow
        <br>
        <br>
        <input type="radio" name="2option" value="always applies to you">Quit/ change the job
        <br>
        <br>
        <input type="radio" name="2option" value="cant able to decide">try to find your mistake

    </div>
</section>
    <section class="form my-4 mx-5">
    <div class="container">
        <label for="Question:3">3. If asked to list my top three strengths, I would have a hard time coming up with them.</label>
        <br>
        <br>
        <input type="radio" name="3option" value="never applies to you">Completely true
        <br>
        <br>
        <input type="radio" name="3option" value="sometime applies to you">Mostly true
        <br>
        <br>
        <input type="radio" name="3option" value="always applies to you">Mostly false
        <br>
        <br>
        <input type="radio" name="3option" value="cant able to decide">Completely False

    </div>
</section>
    <section class="form my-4 mx-5">
    <div class="container">
        <label for="Question:4"> when making an important decision you tend to:</label>
        <br>
        <br>
        <input type="radio" name="4option" value="never applies to you">choose easiest option
        <br>
        <br>
        <input type="radio" name="4option" value="sometime applies to you">take random decision
        <br>
        <br>
        <input type="radio" name="4option" value="always applies to you">depend on others
        <br>
        <br>
        <input type="radio" name="4option" value="cant able to decide">choose thoughtfully

    </div>
</section>
    <section class="form my-4 mx-5">
    <div class="container">
        <label for="Question:5">5. I find myself feeling nervous about situations or events, and I don't even know why.</label>
        <br>
        <br>
        <input type="radio" name="5option" value="never applies to you">Completely true
        <br>
        <br>
        <input type="radio" name="5option" value="sometime applies to you">Mostly true
        <br>
        <br>
        <input type="radio" name="5option" value="always applies to you">Mostly false
        <br>
        <br>
        <input type="radio" name="5option" value="cant able to decide">Completely False

    </div>
</section>
    <section class="form my-4 mx-5">
    <div class="container">
        <label for="Question:6">How do you behave when you are under pressure</label>
        <br>
        <br>
        <input type="radio" name="6option" value="never applies to you">Can't do anything
        <br>
        <br>
        <input type="radio" name="6option" value="sometime applies to you">easily distracted
        <br>
        <br>
        <input type="radio" name="6option" value="always applies to you">stay focused
        <br>
        <br>
        <input type="radio" name="6option" value="cant able to decide">anxious

    </div>
</section>
    <section class="form my-4 mx-5">
    <div class="container">
        <label for="Question:7">7. you try to talk and make friendship to a student who is newly admitted to your class?</label>
        <br>
        <br>
        <input type="radio" name="7option" value="never applies to you">I always try to talk and make friendship with that student
        <br>
        <br>
        <input type="radio" name="7option" value="sometime applies to you">If I feels then only I make friendship
        <br>
        <br>
        <input type="radio" name="7option" value="always applies to you">If he makes friendship with me only then I will do
        <br>
        <br>
        <input type="radio" name="7option" value="cant able to decide">I never talk and make friendship with any student

    </div>
</section>
    <section class="form my-4 mx-5"><div class="container">
        <label for="Question:8">8. Your classmate has an annoying habit that seems to get worse every day, what you do-</label>
        <br>
        <br>
        <input type="radio" name="8option" value="never applies to you">suffer in silence
        <br>
        <br>
        <input type="radio" name="8option" value="sometime applies to you">talk about him/her behind his/her back
        <br>
        <br>
        <input type="radio" name="8option" value="always applies to you">tell him/her what’s bothering you
        <br>
        <br>
        <input type="radio" name="8option" value="cant able to decide">complain to teacher

    </div>
</section>
    <section class="form my-4 mx-5"><div class="container">
        <label for="Question:9">9. I easily empathize with others when I listen to their issues.</label>
        <br>
        <br>
        <input type="radio" name="9option" value="never applies to you">never applies to you.
        <br><br>
        <input type="radio" name="9option" value="sometime applies to you">sometimes apples to you.
        <br><br>
        <input type="radio" name="9option" value="always applies to you">always applies to you
        <br><br>
        <input type="radio" name="9option" value="cant able to decide">can't able to decide.

    </div>
</section>
    <section class="form my-4 mx-5"><div class="container">
        <label for="Question:10">10. Your friend is worried about his family problem; can you help him to solve that problem?</label>
        <br><br>
        <input type="radio" name="10option" value="never applies to you">always help him
        <br><br>
        <input type="radio" name="10option" value="sometime applies to you">don't waste my time to solve his/her problem
        <br><br>
        <input type="radio" name="10option" value="always applies to you">I will try
        <br><br>
        <input type="radio" name="10option" value="cant able to decide">I don’t care about his/her problems



    </div>
</section>
<div class="text-center col-md-12">
    <button type="button" class="btn btn-success my-4">Submit</button>
   
</div>

    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>